<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .login{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="login">
       <div>
             <h1>login</h1>
         <form action="/users/login" method="POST">
        
        <input type="email" placeholder="enter email" name="email"/><br/>
        <input type="password" placeholder="enter password" name="password"/><br/>
        
        <button>login</button>
        </form>
       </div>

    </div>
</body>
</html>