<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .signup{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="signup">
       <div>
             <h1>signup</h1>
    <form action="/users/signup" method="POST">
        <input type="text" placeholder="enter name"  name="name"/><br/>
        <input type="email" placeholder="enter email" name="email"/><br/>
        <input type="password" placeholder="enter password" name="password"/><br/>
        <input type="text" placeholder="enter location" name="location"/><br/>
        <input type="number" placeholder="enter age" name="age"/><br/>
        <button>signup</button>
    </form>
       </div>

    </div>
</body>
</html>